body {
	display: flex;
	flex-flow: column wrap;
	font: 1rem/1.77 Helvetica Neue,Helvetica,Arial,sans-serif;
}

.site-navigation {
/*	display: flex;
	justify-content: flex-end;*/
/*	border: 2px solid black
	padding: .2em 0;
	left: 0;
    width: 180px;
    position: fixed;*/
}

h1 {
	font-size: 28px;
	font-weight: 800;
	line-height: 1.1;
	margin-bottom: 0;
	margin-right: 20px;
	color: green;
}

#author {
	max-width: 400px;
}

#stephen {
	border-radius: 25px;
}

/*@media (max-width: 460px){
	.site-navigation {
		display: none;
	}
}
*/
/*.menu-nav {
	float: right;
	padding: 0;
	margin: 0;
}*/

#slogan {
	font-size: 18px;
	line-height: 1.1;
	color: grey;
	margin-bottom: 10px;
	margin-right: 20px;
}

#author {
	font-size: 9px;
	line-height: 1.1;
	color: grey;
	margin-bottom: 0;
	margin-right: 20px;
}

/*#top {
/*	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	justify-content: space-between;*/
/*	background-image: url(https://i.pinimg.com/474x/37/4f/07/374f077516bcbf413098b97b55fc676e--spongebob-squarepants-bikinis.jpg)
	background-repeat: no-repeat;
*/
/*	max-width: 1000px;
	width: 100%;
*/
}



#header {
	margin: 0;
	max-width: 900px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.body-paragraphs {
	background-color: white;
	margin: 2% auto;
	max-width: 900px;
	width: 100%;
}

a {
	display: inline;
	text-decoration: none;
	color: green;
}

a:hover {
 	text-decoration: underline;
 	cursor: pointer;
}

a:active {
	color: black;
}

a:visited {
	color: darkolivegreen;
}
/*.nav {
	top: 10px;
	right: 10px;
	position: static;
}*/
/*

/*a {
	background-color: #00000000;
	color: green;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover {
	text-decoration: underline;
	cursor: pointer;
	background-color: #111;
}

a:active {
	color: black;
}

a:visited {
	color: darkolivegreen;*/
}

/*div {
	border: 2px solid black
}*/


/*#back-to-top {
	display: inline;
	text-decoration: none;
	color: green;
}

#back-to-top:hover {
 	text-decoration: underline;
 	cursor: pointer;
}

#back-to-top:active {
	color: black;
}

#back-to-top:visited {
	color: darkolivegreen;
}
*/





 .paragraph {
 	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /*border: 2px solid orange;*/
 }

 @media (min-width: 700px){
	 	.aside {
	 	width: 35%;
	 	padding: 2%;
	 	/*border: 2px solid black;*/
	 	float: right;
	 }
	 #stephen {
	 	width: 45%;
	 	float: left;
	 }
	 .paragraph {
	 	clear: both;
	 }
}

#footer {
	background-color: #333;
	color: lightgrey;
}
#back-to-top {
	position: fixed;
	bottom: 10px;
	right: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

.menu-item {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.menu-item:hover {
	background-color: #111; 
 }